<div class="pagecontent" id="pagecontent">
    <div class="modal-header">
        <h3>Change Password
            <span class="extra-title muted"></span>
        </h3>
    </div>
    <form #resetpwForm="ngForm" (ngSubmit)="onSubmit(resetpwForm)">
        <div class="modal-body form-horizontal">
            <div class="control-group">
                    <input type="hidden" #name="ngModel" name="email" [(ngModel)]="email">
                <label for="current_password" class="control-label">Current Password</label>
                <div class="controls">
                    <input type="password" #name="ngModel" name="current_password" [(ngModel)]="cupassword">
                </div>
            </div>
            <div class="control-group">
                <label for="new_password" class="control-label">New Password</label>
                <div class="controls">
                    <input type="password" #name="ngModel" name="new_password" [(ngModel)]="npassword">
                </div>
            </div>
            <div class="control-group">
                <label for="confirm_password" class="control-label">Confirm Password</label>
                <div class="controls">
                    <input type="password" #name="ngModel" name="confirm_password" [(ngModel)]="copassword">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="password_modal_save" [disabled]="!resetpwForm.valid">Change Password</button>
        </div>
    </form>

</div>